body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins';
  color: floralwhite;
  background-color: #121b29;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  padding: 15px;
}

.currentUser {
  color: #ffb800;
  font-weight: bold;
}

button {
  padding: 10px 30px !important;
}

#loginError {
  margin-top: 15px;
  color: red;
}

#create {
}

.signup {
  color: #85bc71;
}

.signup a {
  color: #85bc71;
}

#passwordvalid {
  color: #e42323;
  display: none;
}

.logo {
  height: 272px;
}

