*, ::after, ::before {
  box-sizing: border-box;
}

#zylariansControlledByPlayerPage {
  color: #fffaf0;
  display: none;
}

#mateZylarian {
  display: none;
}

body {
  font-family: "Poppins";
  background-color: #121b29;
  color: #ffffff;
}

input {
  font-family: "Poppins";
}

fieldset {
  padding: 25px 0;
  text-align: center;
  max-width: 305px;
}

legend {
  padding: 0 5px;
  color: rgb(46, 178, 220);
  font-weight: bold;
  font-size: 1.5rem;
}

button {
  background-color: rgb(0, 99, 154) !important;
  color: white !important;
  padding: 10px 20px !important;
  margin-top: 15px !important;
  border-radius: 5px !important;
  font-weight: bold !important;
}

label[for="mateRedGenotype"], .red {
  color: red;
}

label[for="mateGreenGenotype"], .green {
  color: green;
}

label[for="mateBlueGenotype"], .blue {
  color: blue;
}

label[for="mateBrownGenotype"], .brown {
  color: brown;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

#zylarianForm, #mateFormContainer {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#initialZylarianCreationFormPage, #playersZylarians {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.form-label {
  margin-right: 10px;
  color: #fffaf0;
  margin-top: 10px;
}

h2 {
  color: #ffb800;
}

#namediv {
  margin: 15px 0;
}

.currentUser {
  color: #ffb800;
  font-weight: bold;
}

#currentLoggedUser {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px white solid;
}

#logoutLink {
  color: #ffffff;
  background-color: #024593;
  padding: 4px 18px;
  border-radius: 25px;
  cursor: pointer;
}

#numOfZylariansContainer {
  /*display: none;*/
  margin-bottom: 0;
}

#numOfZylarians {
  font-weight: bold;
  color: #85bc71;
}

#viewZylarians {
}

#zylarianModal {
  color: #0949ad;
}

.userZylariansCol {
  min-width: 304px;
  max-width: 376.672px;
}

.zylarianName {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
  color: #4f5e66;
}

.modal-body, .modal-header, .modal-footer {
  color: white;
  background-color: rgb(31,30,51);
}

.zylarianCard {
  background-color: rgb(61,60,57);
  border: 1px solid white;
}

.selected {
  background-color: #c23fff !important;
  border-color: #ffe500;
}

