:root {
  --scaly: url("https://cdn.dribbble.com/users/71143/screenshots/1693017/untitled.jpg");
  --leathery: url("https://st2.depositphotos.com/3864435/8867/i/950/depositphotos_88676374-stock-photo-leather-pattern-raster.jpg");
  --furry: url("https://t3.ftcdn.net/jpg/00/74/58/96/360_F_74589629_23vQF5civr0cyEvtsh7yyz3S68AbavYT.jpg");
  --feathered: url("https://gbs423.com/nsg/assets/img/feathered.webp");
  --slimy: url("https://c8.alamy.com/comp/2C6DWT8/uniform-3d-abstract-background-of-simple-patterns-of-purple-plum-color-with-lighting-and-shadows-for-various-applications-needing-colorful-areas-illustration-and-blue-2C6DWT8.jpg");
  --smooth: url("https://img.freepik.com/free-photo/brown-leather-texture-background_1373-433.jpg");
  --solid: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5877e543-014c-4b8b-b6c2-37397c0c0c90/d30v1tg-2ccecfbc-4c29-49ac-a487-f08365416fa2.jpg/v1/fill/w_900,h_900,q_75,strp/seamless_human_skin_texture_by_hhh316_d30v1tg-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvNTg3N2U1NDMtMDE0Yy00YjhiLWI2YzItMzczOTdjMGMwYzkwXC9kMzB2MXRnLTJjY2VjZmJjLTRjMjktNDlhYy1hNDg3LWYwODM2NTQxNmZhMi5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.bOtefGzZY0ZCBsjO39SMNT7cxXhrl2fcF6fe8fCoxoY");
  --iridescent: url("https://cdn5.vectorstock.com/i/1000x1000/19/44/iridescent-animal-skin-seamless-pattern-for-design-vector-28081944.jpg");
  --striped: url("https://as1.ftcdn.net/v2/jpg/03/08/33/84/1000_F_308338432_JNiTsZRvD3ffYC8Q481KBeKwva6ftnf3.jpg");
  --spotted: url("https://png.pngtree.com/png-vector/20220521/ourlarge/pngtree-vector-illustration-of-multicolored-spotted-fur-skin-with-panoramic-texture-vector-png-image_46467984.jpg");
}

.zylarianCard {
  border: 1px solid white;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.blended-background {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}
/* .zylarianCard.Scaly {
  background-image: var(--scaly);
  background-blend-mode: lighten
}
.zylarianCard.Leathery {
  background-image: var(--leathery);
   background-blend-mode: color
}
.zylarianCard.Furry {
  background-image: var(--furry);
   background-blend-mode: lighten
}
.zylarianCard.Feathered {
  background-image: var(--feathered);
   background-blend-mode: lighten
}
.zylarianCard.Slimy {
  background-image: var(--slimy);
   background-blend-mode: lighten
}
.zylarianCard.Smooth {
  background-image: var(--smooth);
   background-blend-mode: lighten
}
.zylarianCard.Solid {
  background-image: var(--solid);
   background-blend-mode: lighten
}
.zylarianCard.Iridescent {
  background-image: var(--iridescent);
   background-blend-mode: lighten
}
.zylarianCard.Striped {
  background-image: var(--striped);
   background-blend-mode: lighten
}
.zylarianCard.Spotted {
  background-image: var(--spotted);
   background-blend-mode: lighten
} */

*,
::after,
::before {
  box-sizing: border-box;
}

.table {
  font-size: 0.99rem;
  border: 1px solid #000000;
}
#zylariansControlledByPlayerPage {
  color: #fffaf0;
}

#mateZylarian {
  display: none;
}

body {
  font-family: "Poppins";
  background: linear-gradient(#070420 17%, rgb(7, 41, 55) 100%);
  color: #ffffff;
}

input {
  font-family: "Poppins";
}

fieldset {
  padding: 25px 0;
  text-align: center;
  max-width: 305px;
}

legend {
  padding: 0 5px;
  color: rgb(46, 178, 220);
  font-weight: bold;
  font-size: 1.5rem;
}

button {
  background-color: rgb(0, 99, 154) !important;
  color: white !important;
  padding: 10px 20px !important;
  margin-top: 15px !important;
  border-radius: 5px !important;
  font-weight: bold !important;
}

label[for="mateRedGenotype"],
.red {
  color: red;
}

label[for="mateGreenGenotype"],
.green {
  color: green;
}

label[for="mateBlueGenotype"],
.blue {
  color: blue;
}

label[for="mateBrownGenotype"],
.brown {
  color: brown;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

#zylarianForm,
#mateFormContainer {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#initialZylarianCreationFormPage,
#playersZylarians {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.form-label {
  margin-right: 10px;
  color: #fffaf0;
  margin-top: 10px;
}

h2 {
  color: #ffb800;
}

#namediv {
  margin: 15px 0;
}

.currentUser {
  color: #ffb800;
  font-weight: bold;
}

#currentLoggedUser {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px white solid;
}

#logoutLink {
  color: #ffffff;
  background-color: #024593;
  padding: 4px 18px;
  border-radius: 25px;
  cursor: pointer;
}

#numOfZylariansContainer {
  display: none;
  margin-bottom: 0;
}

#numOfZylarians {
  font-weight: bold;
  color: #85bc71;
}

#zylarianModal {
  color: #0949ad;
}

.userZylariansCol {
  min-width: 306px;
  z-index: 6;
  max-width: 376.672px;
}

.zylarianName {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
  color: #4f5e66;
  z-index: 12;
}

.modal-body,
.modal-header,
.modal-footer {
  color: white;
  background-color: rgb(31, 30, 51);
}

.selected {
  background-color: #ab86b8 !important;
  border-color: #ffe500;
  animation: animate 2s linear infinite;
}

.delete {
  position: absolute;
  left: 0;
  padding: 6px;
}

.hidden {
  display: none;
}

.deleteP {
  color: #fffaf0;
  font-size: 12px;
}

#trashCan {
  font-size: 30px;
}

.trashbtn {
  background-color: #e42323 !important;
  border-color: #ff0000;
}

#selectedForDelete {
  color: #ffb800;
}

#finalDeleteBtn {
  background: #bc3434 !important;
  border-color: #121b29 !important;
  transition: 300ms;
}

#finalDeleteBtn:hover {
  background: #741515 !important;
  transition: 300ms !important;
}

.btn-close {
  background-color: white !important;
}

#alert {
  min-width: 100vw;
  min-height: 100vh;
  display: flex !important;
  justify-content: center !important;
  z-index: 999999;
  align-items: center !important;
  position: fixed;
}

.alert-body {
  background-color: rgba(0, 0, 0, 0.84);
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.alert-header {
  background-color: rgba(50, 8, 5, 0.76);
  font-size: 19px;
}

.red {
  color: #e42323;
}

.green {
  color: #85bc71;
}

.blue {
  color: #1953c5;
}

.brown {
  color: #564926;
}

.true {
  color: #00ffff;
}

.false {
  color: #ff0000;
}

.btn:hover {
  background-color: #0b0b0d !important;
  border-color: #ffffff;
  transition: 500ms;
}

#setMatingPair,
#createZylarian {
  margin-bottom: 75px;
}

#fullscreenContainer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
}

#alertBox {
  width: 75%;
  max-width: 390px;
  height: 200px;
  border-radius: 11px;
  box-shadow: 0px 0px 0px 2px white;
  display: none;
  background: rgba(27, 33, 34, 0.87);
}

#childAlertBox {
  width: 75%;
  max-width: 390px;
  height: 200px;
  border-radius: 11px;
}

#alertContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#childAlertContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.offspringSuccess {
  background-color: #49a258;
  padding: 15px 0;
  border-radius: 5px;
}

.alertBG {
  display: flex;
  background: rgba(64, 31, 31, 0.87);
  box-shadow: 0px 0px 0px 2px white;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

.logosmall {
  height: 150px;
  margin-left: 10px;
}

.active {
  color: #ffb800 !important;
}

@keyframes animate {
  100% {
    filter: hue-rotate(350deg);
  }
}

.logoVSmall {
  height: 50px;
}

.levelContainer {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 36px;
  right: 26px;
  border-radius: 50px;
  background-color: #101f56;
  border: 1px solid lightgoldenrodyellow;
}

.levelCircle {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
}

.level {
  height: 100%;
  width: 100%;
  display: flex;
  color: #fffaf0;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.cardP {
  position: absolute;
  top: -19px;
  right: 6px;
  font-size: small;
  color: #3d3577;
}

.progress {
  border: 1px solid white;
  background-color: #000000;
  position: relative;
}

.progress-bar {
  background-color: #ae241b;
}
.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 14px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
}

input:invalid {
  background-color: #ff0000;
}

input:required {
  background-color: #fffaf0;
}

input:valid,
select:valid {
  background-color: #121829;
  color: #fffaf0;
  transition: 1s;
}

#name {
  background-color: #fffaf0;
  color: #121b29;
  font-weight: bold;
}
/* Colors */

.White {
  background-color: whitesmoke;
  color: rgb(12, 12, 12);
  border: 1px solid black;
}
.Beige {
  background-color: rgb(202, 202, 174);
  color: rgb(12, 12, 12);
  border: 1px solid black;
}
.Gray {
  background-color: rgb(41, 41, 41);
  color: rgb(221, 221, 221);
  border: 1px solid black;
}
.Blue {
  background-color: rgb(22, 94, 250);
  color: whitesmoke;
  border: 1px solid black;
}
.Green {
  background-color: rgb(9, 121, 33);
  color: whitesmoke;
  border: 1px solid black;
}
.Red {
  background-color: rgb(114, 26, 26);
  color: whitesmoke;
  border: 1px solid black;
}
.Pink {
  background-color: rgb(175, 39, 119);
  color: whitesmoke;
  border: 1px solid black;
}
.Yellow {
  background-color: rgb(196, 179, 34);
  color: rgb(41, 41, 41);
  border: 1px solid black;
}
.Brown {
  background-color: rgb(71, 49, 27);
  color: whitesmoke;
  border: 1px solid black;
}
.Black {
  background-color: rgb(12, 12, 12);
  color: whitesmoke;
  border: 1px solid black;
}

/* Skin Textures */
.Scaly {
  background-image: var(--scaly);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  border: 2px solid green;
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}

.Leathery {
  background-image: var(--leathery);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(66, 38, 6);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}
.Furry {
  background-image: var(--furry);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(36, 34, 33);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}
.Feathered {
  background-image: var(--feathered);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}
.Slimy {
  background-image: var(--slimy);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;

  /* text-shadow: 1px 2px #0b0b0d; */
}
.Smooth {
  background-image: var(--smooth);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}

/* Skin Patterns */
.Solid {
  background-image: var(--solid);
  background-size: cover;
  background-blend-mode: multiply;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}
.Iridescent {
  background-image: var(--iridescent);
  background-size: cover;
  height: auto;
  border-radius: 25px;
  animation: animate 2s linear infinite;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}
.Striped {
  background-position: center center;
  background-size: 275% auto;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}
.Spotted {
  background-position: center center;
  background-size: 595% auto;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  color: #ffffff;
  /* text-shadow: 1px 2px #0b0b0d; */
}

.patternTextBgStriped {
  background-position: center center;
  background-size: 220% auto;
  color: #000000;
  font-weight: bold;
}

.patternTextBgSpotted {
  background-position: center center;
  background-size: 100% auto;
}
